$color : #fff;
$bgcolor : #5fc0cd;
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	font-family: "Microsoft Yahe";
	font-size: 100px;
	color: $color;
	.header{
		background-color: $bgcolor;
	    height: .4rem;
	    width: 100%;
	    font-size: .14rem;
	    line-height: .4rem;
	    text-align: center;
	    padding: 0 .2rem;
	    box-sizing: border-box;
	    a{
			text-decoration: none;
			color: $color;
		}
		.close{
			float: left;
		}
		.login{
			font-size: .16rem;
		}
		.register{
			float: right;
		}
	}
	.search{
		font-size: .14rem;
		width: 100%;
		background-color: #eff0f4;
		padding-top: .1rem;
		position: relative;
		.passwd{
			display: block;
			width: 100%;
			height: .47rem;
			margin-bottom: .1rem;
			padding: .1rem 0 .1rem .57rem;
			box-sizing: border-box;
			background: url(images/locked.png) 22px center no-repeat;
			background-size: .15rem;
			background-color: $color;
			input{
				width: 100%;
				height: .28rem;
				outline: none;
				padding-left: .1rem;
				border: none;
				border-left: 1px solid #bababa;
			}
		}
		.btn-login{
			width: 100%;
			height: .5rem;
			background-color: $bgcolor;
			border: none;
			a{
				text-decoration: none;
				color: $color;
			}
		}
		.tel{
			display: block;
			width: 100%;
			height: .47rem;
			margin-bottom: .1rem;
			padding: .1rem 0 .1rem .57rem;
			box-sizing: border-box;
			background: url(images/iphone.png) 22px center no-repeat;
			background-size: .15rem;
			background-color: $color;
			input{
				width: 100%;
				height: .28rem;
				outline: none;
				padding-left: .1rem;
				border: none;
				border-left: 1px solid #bababa;
			}
		}
		.forget{
			position: absolute;
			bottom: -.26rem;
			right: .1rem;
			font-size: .14rem;
			color: $bgcolor;
			text-decoration: none;
		}
	}
}
input::-webkit-input-placeholder{color: #bababa;}