html{
	font-size: 100px;
	width: 100%;
	overflow-x: hidden;
	min-width: 320px;
}
.row, p{
    margin: 0;
    padding: 0 .3rem;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;          
}
.container-fluid{
	padding: 0;
	min-width: 3.2rem;
}
header{
	position: fixed;
	height: .45rem;
	width: 100%;
	min-width: 3.2rem;
	line-height: .45rem;
	text-align: center;
	color: #fff;
	background-color: #29bde0;
	overflow: hidden;
	z-index: 999;
	border-bottom: 1px solid #74d4eb;
}
header .result{
	height: .45rem;
	line-height: .45rem;
	margin: 0;
	font-size: .18rem;
}
header .home{
    position: absolute;
    left: .1rem;
    top: .12rem;
    width: .25rem;
    height: .20rem;
    border: none;
    outline: none;
    padding: 0;
}
header .home a{
	display: block;
	width: 100%;
	height: 100%;
	background: url(images/csssprite.png) no-repeat;
    background-size: 2.5rem 1rem;
    background-position: -1.04rem 0;
    background-color: #29bde0;
}
header .info{
    position: absolute;
    right: .1rem;
    top: .12rem;
    width: .21rem;
    height: .21rem;
    background: url(images/csssprite.png) no-repeat;
    background-size: 2.5rem 1rem;
    background-position: -1.43rem 0;
    border: none;
    outline: none;
    opacity: 1;
}
main{
	position: relative;
	padding: .45rem 0rem .5rem;
	box-sizing: border-box;
	margin-bottom: .85rem;
}
main .the-end{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: .3rem;
	background-color: #29bde0;
}
main .the-end .pic{
	width: 1.75rem;
	height: 1rem;
	margin: .2rem 0;
	position: relative;
}
main .the-end .pic img{
	width: 100%;
}
main .the-end .pic span{
	position: absolute;
	bottom: .05rem;
	left: .52rem;
	color: #fff;
	font-size: .18rem;
}
main .the-end p{
	line-height: .3rem;
	color: #ffc865;
	font-size: .16rem;
	text-align: left;
}
main .result-data{
	padding-bottom: .15rem;
	color: #fff;
	font-size: .12rem;
	line-height: .3rem;
	background-color: #29bde0;
}
main .result-data .data-list div{
	padding: 0;
}
.data-list p{
	padding: 0;
} 
main .result-list{
	width: 100%;
	padding: 0;
	background-color: #fff;
}
.result-list .day{
	padding: 0 .3rem;
	padding-bottom: .1rem;
	border-bottom: 2px solid #dddddd;
	font-size: .16rem;
}
main .result-list p{
	line-height: .3rem;
	color: #a6a6a6;
}
.result-list .detail-time{
	height: .35rem;
	padding: 0 .3rem;
	line-height: .33rem;
}
.result-list .day .date{
	float: left;
	color: #515151;
	font-size: .18rem;
}
.result-list .day .time{
	float: right;
	color: #c7c7c7;
	font-size: .14rem;
}
.mark{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: .45rem;
	color: #29bde0;
	background-color: #fff;
}
.mark .bottom-date{
	position: absolute;
	left: .2rem;
	bottom: .1rem;
	font-size: .18rem;
}
.mark .bottom-time{
	position: absolute;
	right: .2rem;
	bottom: .1rem;
	font-size: .16rem;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	height: .85rem;
	width: 100%;
	min-width: 3.2rem;
}
footer .mask{
	width: 100%;
	height: 100%;
	background-color: #29bde0;
	opacity: 0.2;
}
footer .btns{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
footer .btn{
	height: .5rem;
	width: 50%;
	margin: .25rem;
	font-size: .18rem;
}
footer .btn a{
	color: #fff;
	text-decoration: none;
}
/* 媒体查询实现自适应 */
/*1280分辨率以上（大于1200px）*/

@media screen and (min-width:1200px){
	html{
		font-size: 200px;
	}
	main .result-data{
		font-size: .16rem;
	}
}
 

/*1100分辨率（大于960px，小于1199px）*/

@media screen and (min-width: 960px) and (max-width: 1199px) {
    html{
		font-size: 150px;
	}
		main .result-data{
		font-size: .16rem;
	}
}
 

/*880分辨率（大于768px，小于959px）*/

@media screen and (min-width: 768px) and (max-width: 959px) {
     html{
		font-size: 120px;
	}
		main .result-data{
		font-size: .16rem;
	}
}
 

/*720分辨率（大于480px，小于767px）*/

@media only screen and (min-width: 440px) and (max-width: 767px){
     html{
		font-size: 110px;
	}
		main .result-data{
		font-size: .14rem;
	}
}