@charset "UTF-8";
html {
  font-size: 95px;
  background-color: #f0f0f0; }
  html header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    min-width: 3.2rem;
    height: .45rem;
    background-color: #29bde0; }
    html header .menu {
      position: absolute;
      left: .15rem;
      bottom: .15rem;
      width: .2rem;
      height: .15rem;
      background: url(../images/csssprite.png) no-repeat;
      background-size: 2.5rem 1rem;
      background-position: -1.82rem 0;
      border: none;
      outline: none;
      /*去除点击后的蓝色边框*/ }
  html aside {
    display: none;
    position: fixed;
    top: .45rem;
    left: 0;
    font-size: .16rem;
    border-right: 5px solid #29bde0;
    overflow: hidden;
    width: 2.6rem;
    z-index: 9999;
    background-color: #FFF; }
    html aside li {
      float: left;
      width: 2.6rem;
      height: .4rem;
      line-height: .4rem;
      border-bottom: 1px solid #ccc; }
      html aside li a {
        position: relative;
        display: block;
        color: #29bde0;
        text-decoration: none;
        padding-left: .5rem; }
        html aside li a i {
          position: absolute;
          top: .1rem;
          left: .15rem;
          width: .22rem;
          height: .22rem;
          background: url(../images/csssprite.png) no-repeat;
          background-size: 2.5rem 1rem;
          background-position: -.12rem -.73rem; }
          html aside li a i.set {
            background-position: -1.17rem -.73rem; }
          html aside li a i.help {
            background-position: -.46rem -.73rem; }
          html aside li a i.about {
            background-position: -.81rem -.73rem; }
        html aside li a .goto {
          left: 2.15rem;
          background-position: -1.44rem -.73rem; }
  html main {
    margin-top: .45rem;
    min-width: 3.2rem; }
    html main .container-fluid {
      background-color: #f0f0f0;
      padding: .15rem .38rem;
      margin-bottom: .2rem; }
      html main .container-fluid .row a {
        text-decoration: none;
        outline: none; }
      html main .container-fluid .row .btn {
        position: relative;
        display: block;
        width: 100%;
        height: .57rem;
        margin-bottom: .15rem;
        line-height: .37rem;
        color: #9a9a9a;
        font-size: .16rem;
        text-decoration: none;
        outline: none;
        border: 1px solid #c9c9c9;
        border-radius: 0;
        background-color: #fff; }
        html main .container-fluid .row .btn i {
          position: absolute;
          right: .12rem;
          bottom: .16rem;
          width: .12rem;
          height: .2rem;
          background: url(../images/csssprite.png) no-repeat;
          background-size: 2.5rem 1rem;
          background-position: -.12rem 0; }
      html main .container-fluid .ver {
        width: 100%; }
        html main .container-fluid .ver h2 {
          height: .45rem;
          margin: 0;
          line-height: .45rem;
          font-size: .18rem;
          text-align: center;
          color: #fbb435;
          background-color: #fff;
          border-bottom: 2px solid #fbb435; }
        html main .container-fluid .ver .ver-content {
          width: 100%;
          background-color: #fff;
          padding: .05rem .3rem;
          position: relative;
          box-sizing: border-box; }
          html main .container-fluid .ver .ver-content .btn {
            margin: .15rem 0;
            border: none;
            color: #fff;
            background-color: #69d1e9; }
          html main .container-fluid .ver .ver-content .text {
            line-height: .2rem;
            font-size: .14rem;
            text-align: center;
            color: #787878; }
          html main .container-fluid .ver .ver-content .next {
            position: absolute;
            top: 43%;
            right: -.05rem;
            margin-top: -.07rem;
            width: .28rem;
            height: .24rem;
            background: url(../images/csssprite.png) no-repeat;
            background-size: 2.5rem 1rem;
            background-position: -2.23rem -.02rem; }
          html main .container-fluid .ver .ver-content .circle {
            position: relative;
            height: .2rem;
            width: 100%; }
            html main .container-fluid .ver .ver-content .circle ul {
              position: absolute;
              top: .08rem;
              left: 50%;
              margin-left: -.32rem;
              padding-left: 0;
              height: .2rem;
              overflow: hidden; }
              html main .container-fluid .ver .ver-content .circle ul li {
                float: left;
                width: .1rem;
                height: .1rem;
                margin-right: .08rem;
                list-style: none;
                background-color: #f0f0f0;
                border-radius: 50%; }
                html main .container-fluid .ver .ver-content .circle ul li.cur, html main .container-fluid .ver .ver-content .circle ul li:hover {
                  background-color: #69d1e9; }

/* 媒体查询实现自适应 */
/*1280分辨率以上（大于1200px）*/
@media screen and (min-width: 1200px) {
  html {
    font-size: 130px; } }
/*1100分辨率（大于960px，小于1199px）*/
@media screen and (min-width: 960px) and (max-width: 1199px) {
  html {
    font-size: 110px; } }
/*880分辨率（大于768px，小于959px）*/
@media screen and (min-width: 768px) and (max-width: 959px) {
  html {
    font-size: 105px; } }
/*720分辨率（大于480px，小于767px）*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 100px; } }

/*# sourceMappingURL=index.css.map */
