html {
	font-size: 100px;
}
.Site {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1920px;
}
.Site-content {
  flex: 1;
  padding-top: .85rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  min-width: 320px;
  height: .45rem;
  color: #fff;
  background-color: #5fc0cd;
}
.nav{
  background-color: #55a8b3;
  border-radius: 4px;
}
.nav li>a{
  color: #fff;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover {
  color: #69c4d0;
  background-color: #fff;
}
.nav>li>a {
  padding: .06rem .12rem;
}
.title-location{
  position: absolute;
  right: .1rem;
  top: .07rem;
  width: .3rem;
  height: .3rem;
  background: url(images/csssprite.png) no-repeat;
  background-size: 1.67rem .75rem;
  background-position: -1.37rem .05rem;
}
.container-fluid {
  padding: 0;
}
.row{
  padding: .15rem .3rem;
}
.table-title{
  border-bottom: 1px solid #e1e5e7; 
  position: fixed;
  z-index: 999;
  top: .45rem;
  left: 0;
  width: 100%;
  height: .4rem;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.table-title .col-xs-4{
  padding: 0;
}
.table-title .dropdown{
  width: 100%;
  height: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-title .dropdown .btn{
  width: 100%;
  height: .3rem;
  border: none;
  padding: 0rem;
  position: relative;
  outline: none;
}
.table-title .dropdown .caret{
  position: absolute;
  top: .15rem;
  right: .05rem;
}
.table-title .col-xs-4:nth-child(2) .btn{
  border-left: 1px solid #e1e5e7; 
  border-right: 1px solid #e1e5e7; 
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  background-color: #fff;
}
p{
  margin: .1rem .2rem;
}
.table-content{
  border-bottom: 1px solid #e1e5e7;
}
.table-content .date{
  padding-left: .2rem;
  position: relative;
  font-size: .14rem;
}
.table-content .date i{
  position: absolute;
  top: .01rem;
  left: 0;
  width: .13rem;
  height: .13rem;
  background: url(images/csssprite.png) no-repeat;
  background-size: 1.67rem .75rem;
}
.table-content .location{
  padding-left: .2rem;
  position: relative;
  font-size: .14rem;
}
.table-content .location i{
  position: absolute;
  top: .01rem;
  left: 0;
  width: .13rem;
  height: .13rem;
  background: url(images/csssprite.png) no-repeat;
  background-size: 1.67rem .75rem;
  background-position: -1.16rem .01rem;
}
.table-content .table-list{
  overflow: hidden;
}
.table-content .table-list p{
  float: left;
}
.table-content .table-list .time{
  float: right;
  margin: .1rem;
  position: relative;
  padding-right: .1rem;
}
.table-content .time i{
  position: absolute;
  top: .03rem;
  right: -.12rem;
  width: .13rem;
  height: .13rem;
  background: url(images/csssprite.png) no-repeat;
  background-size: 1.67rem .75rem;
  background-position: -.3rem .01rem;
}
footer {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: .5rem;
  background-color: #f8fafb;
  border-top: 1px solid #e1e5e7;
}
footer .footer-home{
  position: relative;
  padding-top: .2rem;
}
footer .container-fluid{
  width: 100%;
  text-align: center;
}
footer .footer-home i{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -.12rem;
  width: .24rem;
  height: .2rem;
  background: url(images/csssprite.png) no-repeat;
  background-size: 1.67rem .75rem;
  background-position: -.53rem .01rem;
}
footer .footer-user{
  position: relative;
  padding-top: .2rem;
}
footer .footer-user i{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -.12rem;
  width: .24rem;
  height: .2rem;
  background: url(images/csssprite.png) no-repeat;
  background-size: 1.67rem .75rem;
  background-position: 0rem -.32rem;
}
footer .footer-edit{
  position: relative;
}
footer .footer-edit i{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -.12rem;
  width: .4rem;
  height: .4rem;
  background: url(images/csssprite.png) no-repeat;
  background-color: #5fc0cd;
  background-size: 1.67rem .75rem;
  background-position: -.28rem -.22rem;
  border-radius: 50%;